tests/issues.json

# Ignore Python runtime assets
env/
__pycache__/
dist
build
*egg-info*

# Ignore editor configuration
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
@.code-workspace

# Ignore other detritus
*.log
.DS_Store
.coverage
coverage.xml
issues.json
htmlcov/

errors.txt
info.txt
